.footercr {
    background-color: #3c334a !important;
    padding-top:0 !important;
}

.footer-copyright .container a {
    color: white;
}

.githubicon i {
    font-size: calc(20px + 2vmin);
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }