body {
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  color: #3c334a;
  font-size: calc(5px + 1.8vmin);
  background-color: transparent;
  background-image: url('./bg.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

div.toast {
  background-color: #3c334a;
}

#toast-container {
  min-width: 10%;
  right: 50%;
  transform: translateX(50%) translateY(50%);
}